@import "../../Style.css";

.g-input-field-div-1{
    padding: 10px;
    /* margin-top: 20px; */
    border-radius: 5px;
    /* background: rgb(224, 223, 223); */
    border: none;
    width: 300px;
    font-family: giveer-medium;
    font-size: 15px;
}
.page{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.log{
    background: #ffffff;
    width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
#logbtn{
    margin:30px;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    color: #ffffff;
    background: #f43397;
    border: none;
    font-family: giveer-medium;
    font-size: 20px;
}
.log_head{
    font-weight: bold;
    text-align: center;
    margin: 30px 50px;
    font-size: 30px;
    color: #f43397;
}
#forgetpass{
    display: flex;
    text-align: right;
}
.or{
    display: flex;
}
hr{
    width: 115px;
    height: 0px;
}
.space{
    padding: 0 25px;
}
.for-p{
    margin-top: 20px;
}
