@import "../../Style.css";


.main-signin {
    margin: 40px 0 40px 0;

    .g-signin-p {
        font-family: giveer-regular;
        color: var(--third-color);
        text-align: center;
        margin: 0 15px;
    }

    .forget-password {
        width: 100%;
        display: block;
        text-align: right;
    }

    .or {
        display: flex;
    }

    hr {
        width: 115px;
        height: 0px;
    }
    .no-margin{
        margin-top: 10px;
    }
    .space {
        padding: 0 25px;
    }

    .otplog {
        color: var(--third-color);
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }

    .for-p {
        margin-top: 20px;
    }

    .signin-2 {
        display: none;
    }

    /* Tab view style */
    @media only screen and (min-width: 426px) {
        margin: 30px 0 30px 0;
        .signin {
            display: flex;
            align-items: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 2%;
            border-radius: 5px;
        }

        .signin-1 {
            width: 40vw;
        }

        .signin-2 {
            display: block;
            width: 40vw;
        }
    }

    /* Laptop view style */
    @media only screen and (min-width: 767px) {
        margin: 20px 0 0px 0;
        .signin {
            display: flex;
            align-items: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 2%;
            border-radius: 5px;
        }

        .signin-1 {
            width: 25vw;
        }

        .signin-2 {
            width: 25vw;
            display: block;
        }
    }
}