@import '../../Style.css';


.main-edit-profile {
    font-size: .8rem;
    margin: 57px 0px 60px 0;

    /* .topic{
        background-color: rgb(167, 236, 231);
    } */
    .span1{
        margin: 0 0 0 1.5rem;
    }
    .span2{
        margin-left: 1rem;
    }

}