@import '../../Style.css';

.swipeable-div {
    width: 100%;
    height: 100vh;
    transition: transform 0.3s ease;
  }
  
  .on-display {
    margin: 100px 0 0 0;
    transform: translateX(0%);
  }
  
  .given {
    margin: 100px 0 0 0;
    transform: translateX(-100%);
  }
  