@import "../../Style.css";

.main-forgot {
    .giveer-p {
        font-family: giveer-regular;
        color: var(--third-color);
        text-align: center;
        margin: 0 15px;
    }

    .bts {
        text-align: center;
        text-decoration: none;
        color: var(--third-color);
    }

    .g-h-5 {
        text-align: center;
        padding: 0 10%;
        margin: 0px;
    }

    .newuser {
        font-family: giveer-regular;
        color: var(--third-color);
        text-align: center;
        margin: 30px;
        text-decoration: none;
        /* cursor: pointer; */
    }

    .or {
        display: flex;
    }

    hr {
        width: 50%;
    }

    .forgot {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
    }

    .forgot-1 {
        display: none;
    }

    /* Tab view style */
    @media only screen and (min-width: 426px) {
        .forgot {
            display: flex;
            align-items: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 2%;
            border-radius: 5px;
        }

        .forgot-1 {
            display: block;
            width: 40vw;
        }

        .forgot-2 {

            width: 40vw;
        }
    }

    /* Laptop view style */
    @media only screen and (min-width: 767px) {
        .forgot {
            display: flex;
            align-items: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 2%;
            border-radius: 5px;
        }

        .forgot-1 {
            display: block;
            width: 25vw;
        }

        .forgot-2 {
            width: 25vw;

        }
    }
}