@import "../../Style.css";

.g-p{
    font-size: 15px;
    text-align: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newpassword{
    width: 75%;
    display: flex;
    justify-content: space-evenly;

}
.newpass-1{
    display: none;
}

/* Tab view style */
@media only screen and (min-width: 426px){
    .newpassword {
        display: flex;
        align-items: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 2%;
        border-radius: 5px;
    }
    
    .newpass-1 {
        display: block;
        width: 40vw;
    }
    
    .newpass-2 {
        
        width: 40vw;
    }
}

/* Laptop view style */
@media only screen and (min-width: 767px){
    .newpassword {
        display: flex;
        align-items: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 2%;
        border-radius: 5px;
    }
    
    .newpass-1 {
        display: block;
        width: 25vw;
    }
    
    .newpass-2 {
        width: 25vw;
        
    }
}
