@import "../../Style.css";

.main-product-post {
    font-size: .8rem;
    margin: 57px 0px 60px 0;

    .topic {
        margin: 0 0 10px 0;
    }

    .span1 {
        margin: 0 0 0 1.5rem;
    }

    .span2 {
        margin-left: 1rem;
    }

    .split {
        padding: 0.3rem;
        /* background-color: #e4b5dc; */
        border-top: 1px solid rgb(200, 200, 200);
        border-bottom: 1px solid rgb(200, 200, 200);
        ;
        display: flex;
        margin: 0 5px 5px 5px;
    }

    .com {
        border: 0 1px;
        border-color: yellow;
        width: 50%;
        display: flex;
        justify-content: center;
        color: purple;
    }

    .content {
        display: flex;
        width: 200vw;

    }

    .odis-content,
    .giv-content {
        width: 100%;
        height: auto;
    }

    .o-c-c,
    .g-c-c {
        border: 1px solid indianred;
        height: 2.5rem;
        margin: 5px 10px;
        border-radius: 5px;
    }

    .giv {
        border-left: 2px solid rgb(200, 200, 200);
        ;
    }

    .carousel .carousel-item {
        width: 100%;
    }

    .ul li a {
        color: green !important;
    }
}